:root {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffff;
  background-image: url('/public/assets/bg2.png');
  overflow-x: hidden;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}